/* You can add global styles to this file, and also import other style files */

.kootenai-theme{
   background-color: #4CAF50;
}

.kootenai-panel{
   background-color: #4CAF50;
   min-height: 50px;
   color: white;
}
